body{
  font-family:Arial;
  background:#EEF2FF;
  margin:30px;
}

h1{
  color:#4338CA;
}

.skills{
  display:flex;
  gap:12px;
  margin:20px 0;
}

.card{
  background:white;
  padding:20px;
  border-radius:12px;
}
.highlight{
    background-color: yellow;
}